.layoutWrapper {
    margin: 40px auto;
    padding: 0 40px;
    width: clamp(0px, 100%, 1280px);
}

.aboutUsWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
}

.aboutUs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
    width: 40%;
    border-radius: 10px;
    margin-right: 10px;
}

.teamMembers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
}

.logoLink {
    display: block;
    width: 80px;
    height: 30px;
    z-index: 1;
}

.logoSvg {
    position: relative;
    z-index: -1;
}