.registrationBilling {
  padding: 20px;
  margin: 0% auto 5% auto;
  background-color: rgb(226, 234, 240);
  border-radius: 20px;
}

.registrationBillingHeader {
  margin: 0 5px 0 5px;
  width: calc(100%-10px);
}

.billingDefaultText {
  margin: 0 10px 0 0;
}

.devider {
  margin: 6px 0;
}

.registrationBillingInput {
  margin: 0 5px 0 5px;
  width: calc(100%-10px);
}
  
.registrationBillingInputHalf {
  margin: 0 5px 0 5px;
}

.formAddresses {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .registrationBilling {
    width: 480px;
  }

  .registrationBillingInputHalf {
    width: 230px;
  }

  .formAddresses {
    width: 520px;
  }
}