.layoutWrapper {
  margin: 0 auto;
  padding: 0 40px;
  width: clamp(0px, 100%, 1280px);
}

.layoutContent {
  margin: 0;
}

.breadcrumb {
  margin: 10px 0;
  font-size: 0.9rem;
}

.menuProductContainerWrapper {
  padding: 10px 0;
  border-radius: 10px;
  background-color: white;
  min-height: 582px;
  display: flex;
  flex-direction: row;
}

.productContainerWrapper {
  padding: 0 30px;
  width: 100%;
}

.menuWrapper {
  background-color: white !important;
}

.menu {
  margin: 0 0 0 0;
  width: 200px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.promoCodesContainer {
  display: flex;
  justify-content: end;
  width: 100%;
  font-weight: 700;
}

.promoCodesList {
  list-style-type: none;
}

.promoCodeButton {
  margin-top: 5px;
  background-color: #f24236;
  color: black;
  font-weight: 700  ;
}

.promoCodeButton:hover {  
  background-color: rgb(67, 177, 67);
  color: black !important;
}