.layoutWrapper {
  margin: 0 auto;
  padding: 0 40px;
  width: clamp(0px, 100%, 1280px);
}

.layoutContent {
  margin: 0;
}

.breadcrumb {
  margin: 10px 0;
  font-size: 0.9rem;
}

.menuProductContainerWrapper {
  padding: 10px 0;
  border-radius: 10px;
  background-color: white;
}

.productContainerWrapper {
  padding: 0 30px;
}

.menuWrapper {
  background-color: white !important;
}

.menu {
  margin: 0 0 0 0;
  width: 200px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0;
}
