.schoolInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.schoolText {
    text-align: justify;
    text-indent: 20px;
}

.schoolLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 0 0 0 10px;
}

.schoolLogoLink {
    display: block;
    width: 80px;
    height: 30px;
    z-index: 1;
}

.schoolLogoSvg {
    position: relative;
    z-index: -1;
}