.customerInfoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 20px auto;
  width: 350px;
}

.customerInfoControls {
  display: flex;
  justify-content: center;
}

.customerInfoLabel {
  font-weight: bold;
}

.divider {
  margin: 16px 0;
}

.addressSectionContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 0px 40px;
  max-width: 1200px;
}

.addressSectionControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 12px;
  max-width: 100%;
}

.addressCard p {
  font-size: 1.0rem !important;
}

@media (max-width: 900px) {
  .addressCard div {
    font-size: 0.7rem;
  }

  .addressCard p {
    font-size: 0.7rem !important;
  }
}