.customerInfoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 20px auto;
  width: 350px;
}

.customerInfoControls {
  display: flex;
  justify-content: center;
}

.customerInfoLabel {
  font-weight: bold;
}

.addressSectionContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1280px;
}

.addressSectionControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 12px;
  max-width: 100%;
}