.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  font-size: 5rem;
}

.logoutButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaceWrapper {
  margin: 0 auto;
  width: 100%;
}
.checkboxWrapper {
  margin: 20px auto;
  width: 100px;
}
.btn {
  width: 200px;
}

.logoutButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
