.spaceWrapper {
  margin: 30px auto;
  display: flex;
  width: 80%;
}

.form {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .form {
    width: 520px;
  }
}

.datePicker {
  width: 100%;
}

.registrationMain {
  padding: 20px;
  margin: 0% auto 5% auto;
  background-color: rgb(226, 234, 240);
  border-radius: 20px;
}

.regInput {
  margin-bottom: 12px;
}

.registrationTitle {
  font-size: 1.4rem;
  font-weight: bold;
}

.devider {
  margin-top: 6px;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
  text-align: center;
}

.button {
  margin-left: 1rem;
}