.member {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 32%;
    width: 100%;
    border-radius: 10px;
}

.memberImage {
    height: 100%;
    border-radius: 10px;
}

.memberInfo {
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    padding: 10px;
    border: rgb(219, 219, 219) solid 1px;
    border-radius: 10px;
    margin: 0 0 0 20px;
}

.memberName {
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0 0 6px 0;
}

.memberContribution,
.memberLinkGitHub,
.memberRole,
.memberBio {
    text-align: justify;
    font-size: 0.7rem;
    margin: 3px 0;
}