.member {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 32%;
    width: 100%;
    border-radius: 10px;
}

.memberImage {
    height: 100%;
    width: 200px;
    border-radius: 10px;
}

.memberInfo {
    height: 100%;
    width: 60%;
    border: rgb(219, 219, 219) solid 1px;
    border-radius: 10px;
}

.memberName {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 4px 0 10px 10px;
}

.memberLinkGitHub,
.memberRole,
.memberBio {
    font-size: 0.8rem;
    margin: 5px 0 5px 10px;
}