.layoutWrapper {
  margin: 40px auto;
  padding: 0 40px;
  width: clamp(0px, 100%, 1280px);
}

.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 20px;
  width: 80%;
}

.cardImageContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselWrapper {
  text-align: center;
  width: 320px;
}

.carousel {
  text-align: center;
  border-radius: 10px;
  height: 370px;
  padding: 5px;
  background-color: rgb(231, 231, 231);
}

.cardTextButtonContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 10px;
  width: 50%;
  height: 370px;
}

.cardTextContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.prices {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
}

.price {
  padding: 2px 5px;
  border-radius: 5px;
  background-color: rgb(184, 214, 184);
}

.priceOff {
  color: rgb(90, 90, 90);
  text-decoration: line-through;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: rgb(194, 190, 190);
}

.priceDiscount {
  margin-left: 6px;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: rgb(184, 214, 184);
}

.priceDiscountOff {
  display: none;
}

.unit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 14px;
}

.description {
  display: flex;
  align-items: center;
  text-align: justify;
  text-indent: 20px;
  max-height: 100%;
  font-size: 1rem;
  margin-bottom: 10px;
}

.color,
.mark,
.dimensions {
  font-weight: 700;
  display: flex;
  align-items: flex-start;
}

.color span,
.mark span,
.dimensions span {
  font-weight: 400;
}

.cardButtonContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.buttonBusket {
  justify-content: center;
  color: black;
  order: 1;
  font-weight: 700;
  background-color: rgb(144, 199, 144);
  margin-bottom: 0px;
  margin-left: 5px;
  max-width: 250px;
  width: 100%;
}

.buttonBusket:hover {
  background-color: rgb(67, 177, 67) !important;
}

.buttonCatalog {
  justify-content: center;
  font-weight: 700;
  color: black;
  background-color: rgb(209, 209, 209);
  max-width: 250px;
  width: 100%;
}

.buttonCatalog:hover {
  color: black !important;
  background-color: rgb(169, 173, 168) !important;
}

@media (max-width: 1000px) {
  .cardContent {
    padding: 15px 0;
    width: 90%;
  }

  .carouselWrapper {
    width: 200px;
  }

  .carousel,
  .cardTextButtonContent {
    height: 370px;
  }

  .cardTextButtonContent {
    width: 55%;
  }

  .title {
    font-size: 1.2rem;
  }

  .description,
  .color,
  .mark,
  .dimensions,
  .price,
  .priceOff,
  .priceDiscount,
  .priceDiscountOff {
    font-size: 0.9rem;
  }

  .buttonBusket,
  .buttonCatalog {
    font-size: 0.8rem;
    height: 28px;
  }
}

@media (max-width: 768px) {
  .cardContent {
    padding: 10px 0;
    width: 100%;
  }

  .carouselWrapper {
    width: 180px;
  }

  .carousel,
  .cardTextButtonContent {
    height: 370px;
  }

  .cardTextButtonContent {
    width: 60%;
  }

  .title {
    font-size: 1.0rem;
  }

  .unit {
    font-size: 0.7rem;
  }

  .description,
  .color,
  .mark,
  .dimensions,
  .price,
  .priceOff,
  .priceDiscount,
  .priceDiscountOff {
    font-size: 0.8rem;
  }

  .buttonBusket,
  .buttonCatalog {
    font-size: 0.7rem;
    height: 28px;
    min-width: 130px;
  }
}

@media (max-width: 560px) {
  .cardContent {
    padding: 10px 0;
    width: 100%;
  }

  .carouselWrapper {
    width: 130px;
  }

  .title {
    font-size: 1.0rem;
  }

  .cardButtonContent {
    flex-direction: column;
  }

  .buttonBusket {
    order: 0;
    margin-bottom: 5px;
    margin-left: 0px;
  }

  .buttonBusket,
  .buttonCatalog {
    font-size: 0.7rem;
    height: 25px;
    min-width: 130px;
  }
}

@media (max-width: 470px) {
  .cardContent {
    justify-content: center;
  }

  .carouselWrapper {
    display: none;
  }

  .cardTextButtonContent {
    width: 100%;
  }

  .title {
    font-size: 1.0rem;
  }

  .buttonBusket,
  .buttonCatalog {
    font-size: 0.7rem;
    height: 25px;
    min-width: 130px;
  }
}